#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav{
  text-align: center;
  background-color: darkcyan;
  padding: 0;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0 , 0.2);

  ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0%;
    padding: 0%;
  }

  li{
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: antiquewhite;
    padding: 1em;
  }
}

.Paises {
  background-color: antiquewhite;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0 , 0.2);
  margin: 2em;
  text-align: center;
  color: darkblue;

  section{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  select{
    padding: 1em;
    border-radius: 5em 0 0 5em;
    border: none;
    background-color: darkgoldenrod;
    height: auto;
  }
  
  input{
    padding: 1em;
    border-radius: 0 5em 5em 0;
    border: none;
    background-color: darkcyan;
    height: auto;
  }

}
img {
  max-width: 25vw;
  transition: 4s;
  border-radius: 1em;
}

img:hover {
  transform: rotateX(360deg);
  transition: 1s;
}

.PaisEspecifico{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 2em;

}

.button{
  background-color: darkcyan;
  border-radius: 2em;
  border: darkblue;
  margin: 1em;
}