#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav{
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 0;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0 , 0.2);

  ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0%;
    padding: 0%;
  }

  li{
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: antiquewhite;
    padding: 1em;
  }
}

.Paises {
  background-color: rgb(228, 224, 224);
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0 , 0.2);
  margin: 2em;
  text-align: center;
  color: rgb(0, 0, 0);
  h1{
    color: darkblue;
  }

  section{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  select{
    padding: 1em;
    border-radius: 5em 0 0 5em;
    border: none;
    background-color: rgb(199, 199, 199);
    height: auto;
    color:black;
    
  }
  
  input{
    padding: 1em;
    border-radius: 0 5em 5em 0;
    border: none;
    background-color: rgb(0, 0, 0);
    height: auto;
  }

}
img {
  max-width: 25vw;
  transition: 4s;
  border-radius: 1em;
  max-width: 30vw;
}

img:hover {
  transform: rotateX(360deg);
  transition: 1s;
}

.PaisEspecifico{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 2em;

}

.button{
  background-color: rgb(199, 199, 199);
  border-radius: 2em;
  border: darkblue;
  margin: 1em;
  color: black;
  
}